
			.work-item {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				transition: 0.3s;
			}
	
			.card__contents {
				padding: 2px 16px 20px;
			}

			.img-responsive{		
				min-width:100px;
				min-height: 150px;
			}
			.thumbnail{
   				min-height: 310px;
			}

			ul .nav {
				background-color: #e2e2e2	;
			}

			.img-responsive{		
				height: 140px !important;
			}
			.thumbnail{
   				min-height: 310px;
			}

			ul .nav {
				background-color: #e2e2e2	;
			}
			#fh5co-page {
				overflow: visible;
			}

			.fh5co-narrow-content .areaLists {
				padding : 5px 15px 5px 15px; 
				margin-bottom : 10px;
				background-color: #ffffff;
				z-index: 100002;
				top: 0px;
				position: sticky;
				position: -webkit-sticky;
			}

			.areaList .hiddenMenu {
				width:100%;
				height: 100%;
				text-align: center;
				position: relative;

			}
/*
			.areaLists .areaList {
			    padding-left: 0px;
				width: 1650px;
				border-bottom: 1px solid #b9b9b9;
				border-top: 1px solid #b9b9b9;
				margin-top: 1px;
				overflow-y: scroll;
				margin-bottom: 3px;
			}

			.areaLists .areaCodes {
				color: inherit;
				text-align: center;
				list-style: none;
				float: left;
				margin-left: 40px;
				width : 53px;
				cursor: pointer;
			}

			.fh5co-nav-toggle{
				position: fixed;
				top: 96.8%;
				background-color: #fff;
				padding: 0px 0px 5px 15px;
				width: 100%;
				height: 100px;
				border-top: 1px solid #a7a7a7;
			}

			.areaLists .sigunguLists {
			    padding-left: 0px;
				width: 1500px;
				border-bottom: 1px solid #b9b9b9;
				overflow-y: scroll
			}

			.sigunguLists .sigunguList {
				color: inherit;
				text-align: center;
				list-style: none;
				float: left;
				margin-left: 41px;
				cursor: pointer;
			}
			*/

